html {
  scroll-behavior: smooth;
}

body {
  // margin: 0;
  // padding: 0;
  font-size: 18pt;
  padding: 2rem;
  background-color: #fff;
  color: #111;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .full_name {
      display: flex;
      align-items: end;
      color: #000;
      font-family: Michroma;
      flex-direction: column;

      .first_name {
        font-size: 30pt;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .last_name {
        font-size: 18pt;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: -8px;
        margin-right: -6px;
      }
    }

    nav {
      width: 48%;

      ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        font-size: 14pt;
        font-family: Ubuntu;
      }
    }
  }

  a {
    text-decoration: none;
    color: #000;
  }

  a:hover {
    color: #09e1bd;
  }

  main {
    .presentation {
      margin-top: 80px;

      span {
        color: #000;
        font-family: Ubuntu;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        strong {
          color: rgb(0, 128, 255);
        }
      }
    }
  }

  img {
    width: 160px;
    height: 160px;
    border-radius: 10px;
  }

  button {
    border-radius: 10px;
    width: 150px;
    height: 32px;
    margin-top: 24px;
    background: linear-gradient(270deg, #b3ede3, #48bba8, #79ccee);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
}

@media (max-width: 750px) {
  body {
    div {
      h1 {
        font-size: 20pt;
      }

      h2 {
        font-size: 18pt;
        text-align: center;
      }

      h3 {
        font-size: 16pt;
      }

      header {
        justify-content: center;
        margin-bottom: 32px;
        flex-direction: column;
      }

      li {
        font-size: 14pt;
      }

      main {
        text-align: center;
      }
    }
  }
}

@media (max-width: 450px) {
  body {
    div {
      h1 {
        font-size: 18pt;
      }

      h2 {
        font-size: 16pt;
      }

      h3 {
        font-size: 14pt;
      }

      span {
        font-size: 14pt;
      }
    }
  }
}

@media (max-width: 400px) {
  body {
    div {
      h1 {
        font-size: 18pt;
      }

      h2 {
        font-size: 14pt;
      }

      h3 {
        font-size: 12pt;
      }

      span {
        font-size: 12pt;
      }
    }
  }
}

@media (max-width: 340px) {
  body {
    div {
      h2 {
        font-size: 12pt;
      }

      h3 {
        font-size: 10pt;
      }

      span {
        font-size: 10pt;
      }
    }
  }
}
