body {
  font-size: 18pt;
  padding: 2rem;
  background-color: #111;
  color: #fff;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    div {
      display: flex;
      align-items: center;

      h1 {
        margin-right: 8px;
      }
    }
  }

  a {
    color: #fefefe;
  }

  h1 {
    font-size: 28pt;
  }

  h2 {
    font-size: 22pt;
  }

  h3 {
    width: 80%;
  }

  .social_media {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .social_media_item {
      padding: 0.4rem;
    }
  }

  .profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  main {
    text-align: initial;
  }

  img {
    width: 160px;
    height: 160px;
    border-radius: 10px;
  }

  button {
    border-radius: 10px;
    width: 150px;
    height: 32px;
    margin-top: 24px;
    background: linear-gradient(270deg, #b3ede3, #48bba8, #79ccee);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
}

@media (max-width: 750px) {
  body {
    div {
      h1 {
        font-size: 20pt;
      }

      h2 {
        font-size: 18pt;
        text-align: center;
      }

      h3 {
        font-size: 16pt;
      }
      header {
        justify-content: center;
        margin-bottom: 32px;
        flex-direction: column;
      }

      li {
        font-size: 14pt;
      }

      main {
        text-align: center;
      }
    }
  }
}

@media (max-width: 450px) {
  body {
    div {
      h1 {
        font-size: 18pt;
      }

      h2 {
        font-size: 16pt;
      }

      h3 {
        font-size: 14pt;
      }

      span {
        font-size: 14pt;
      }
    }
  }
}

@media (max-width: 400px) {
  body {
    div {
      h1 {
        font-size: 14pt;
      }

      h2 {
        font-size: 14pt;
      }

      h3 {
        font-size: 12pt;
      }

      span {
        font-size: 12pt;
      }
    }
  }
}

@media (max-width: 340px) {
  body {
    div {
      h1 {
        font-size: 12pt;
      }

      h2 {
        font-size: 12pt;
      }

      h3 {
        font-size: 10pt;
      }

      span {
        font-size: 10pt;
      }
    }
  }
}
