html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 18pt;
  font-family: Ubuntu;
  background-color: #fff;
  color: #111;

  #about {
    padding: 2rem;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .full_name {
        display: flex;
        align-items: end;
        color: #000;
        font-family: Michroma;
        flex-direction: column;

        .first_name {
          font-size: 30pt;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .last_name {
          font-size: 18pt;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-top: -8px;
          margin-right: -6px;
        }
      }

      nav {
        width: 48%;

        ul {
          list-style-type: none;
          display: flex;
          justify-content: space-around;
          margin: 0;
          padding: 0;
          font-size: 14pt;
        }
      }
    }

    a {
      text-decoration: none;
      color: #000;
    }

    a:hover {
      color: #09e1bd;
    }

    .presentation {
      margin-top: 80px;
      display: flex;
      align-items: center;

      span {
        color: #000;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        strong {
          color: rgb(28, 138, 248);
        }
      }

      .presentation-text {
        width: 40%;

        .my-projects {
          display: flex;
          align-items: center;
          margin-top: 16px;
          cursor: pointer;

          span {
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-left: 16px;
          }

          img {
            width: 38px;
            height: 38px;
          }
        }
      }

      .profile-picture {
        flex: 1;
        text-align: center;
        // img {
        //    max-width: 90%;
        //    width: 100%;
        // }
      }
    }
  }

  #projects {
    margin: 80px 0 0 0;
    background: #f6f1f1;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3),
      // Sombra superior
      0 5px 10px rgba(0, 0, 0, 0.3); // Sombra inferior
    transition: box-shadow 0.3s ease;

    padding: 2rem;

    h1 {
      text-align: center;
    }

    .show-projects {
      margin-top: 80px;
      .container{
        display: flex;
        justify-content: space-around;
        margin-bottom: 109px;
        
        .project-container {
          border: 14px solid #0d95f8;
          background: #09e1bd;
          max-width: 526px;

          img {
            width: 100%;
            height: 100%;
          }
        }
        .project-info {
          padding: 0 2rem;
          display: flex;
          flex-direction: column;

          strong {
            font-size: 38px;
            font-style: normal;
            font-weight: 700;
            line-height: 37px;
          }

          span {
            font-size: 19px;
          }
          .project-subtitle {
            font-size: 27px;
          }

          button {
            border-radius: 15px;
            border: 1px solid ;
            background-color: #0d95f8;

            width: 171px;
            height: 40px;

            color: #fff;
            text-align: center;
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            cursor: pointer;
          }
        }
      }

      .reverse-container{
        flex-direction: row-reverse;
      }
    }
  }
}

// img {
//   width: 160px;
//   height: 160px;
//   border-radius: 10px;
// }

// button {
//   border-radius: 10px;
//   width: 150px;
//   height: 32px;
//   margin-top: 24px;
//   background: linear-gradient(270deg, #b3ede3, #48bba8, #79ccee);
//   color: #fff;
//   font-weight: bold;
//   cursor: pointer;
// }

@media (max-width: 750px) {
  body {
    div {
      h1 {
        font-size: 20pt;
      }

      h2 {
        font-size: 18pt;
        text-align: center;
      }

      h3 {
        font-size: 16pt;
      }

      header {
        justify-content: center;
        margin-bottom: 32px;
        flex-direction: column;
      }

      li {
        font-size: 14pt;
      }

      main {
        text-align: center;
      }
    }
  }
}

@media (max-width: 450px) {
  body {
    div {
      h1 {
        font-size: 18pt;
      }

      h2 {
        font-size: 16pt;
      }

      h3 {
        font-size: 14pt;
      }

      span {
        font-size: 14pt;
      }
    }
  }
}

@media (max-width: 400px) {
  body {
    div {
      h1 {
        font-size: 18pt;
      }

      h2 {
        font-size: 14pt;
      }

      h3 {
        font-size: 12pt;
      }

      span {
        font-size: 12pt;
      }
    }
  }
}

@media (max-width: 340px) {
  body {
    div {
      h2 {
        font-size: 12pt;
      }

      h3 {
        font-size: 10pt;
      }

      span {
        font-size: 10pt;
      }
    }
  }
}
